<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brandy's Resume</title>
    <link href='style.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
 <div class="container">
    
    <section class="header">
        <div class="header">
            <div>

                <nav>
                    <!-- <img src="./brandy.jpeg" class="image1"/> -->
                    <ul class='menu'>
                        <li> <a href="#education"> Education </a></li>
                        <li> <a href="#project"> Projects </a> </li>
                        <li> <a href="#skill"> Skills</a></li>
                        <li> <a href="#contacts"> Contacts</a></li>
                    </ul>

                </nav>
            </div>

            <h3 class="intro"> Hello, I am </h1>
                <h1 class="name"> Brandy Mhlari</h1>
                <h3 class="intro2"> I am a Graduate Software Engineer</h3>
                <p class="intropar"> Let me take you through my exciting journey as a graduate software engineer.
                    <br>I am a Software Development graduate from the Tshwane University of Technology <br> I am a currently learning HTML and CSS, I aspire to be a full stack developer. <br>
                    This is my official resume website to show all my skills and projects<br>
                </p>

                <!-- <img src="./brandy.jpeg" class="image1"/> -->

                <!-- <button class="button" style="vertical-align:middle"><span>Get in touch </span></button> -->
                <a class="button" href="https://www.linkedin.com/in/brandy-mhlari/" target="_blank">Get in touch</a>
        </div>
    </section>
    <!-- end of header -->

    <!-- About begins -->
    <!-- <div class="b"> -->
    <section class="education">
        <div id="education">
            <h1 class="title"> Education </h1>

            <div class="box">
                <div class="rb-container">
                    <ul class="rb">
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="course"> AWS Cloud Practitioner
                            </div>
                            <div class="item-title">GirlCode za</div>

                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="course"> Golden Key International Honour Society
                            </div>


                        </li>

                        <li class="rb-item" ng-repeat="itembx">
                            <div class="course"> Advanced Diploma in Computer Science
                            </div>
                            <div class="item-title">Tshwane University of Technology</div>

                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="course">
                                Diploma in Information Technology
                            </div>
                            <div class="item-title">Tshwane University of Technology.</div>

                        </li>

                        <li class="rb-item" ng-repeat="itembx">
                            <div class="course">
                                Admission to Bachelor's Degree
                            </div>
                            <div class="item-title">Meridian College.</div>

                        </li>

                    </ul>

                </div>

            <div class="picture">
                <img src="grad.jpg" alt="Graduation-img" style="width: 350px; height: 350px; position: absolute; right:300px; top:980px">
            </div>
            </div>
            <!-- end of education -->

        </div>
    </section>
    <section class="project">
        <div id="project">
            <div class="proj">
                <h1 class="projectS"> Projects </h1>
                <div class="card">
                    <div class="front front1">
                        <div class="content">
                            <img src="images.png">
                            <h3>Technical Writing</h3>
                        </div>
                    </div>
                    <div class="front front2">
                        <div class="content">
                            <p>I have recently started a blog where I document my IT journey and more.</p>
                                <a href="https://github.com/BrxndyM">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="front front1">
                        <div class="content">
                            <img src="download.jpg">
                            <h3>Design</h3>
                        </div>
                    </div>
                    <div class="front front2">
                        <div class="content">
                            <p>Design a website that automates tribal office processes</p>
                                <a href="https://github.com/BrxndyM">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="front front1">
                        <div class="content">
                            <img src="images.jpg">
                            <h3>Data Analysis</h3>
                        </div>
                    </div>
                    <div class="front front2">
                        <div class="content">
                            <p> Analyse iMBd movie data and Web scrap data on the RHOL and analyse it</p>
                                <a href="https://github.com/BrxndyM">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

    </section>

    <section class="skills">
        <div id="skill">
        <hr>
        <h1> Skills </h1>
        <div class="skill">
            
            
            <div class="skill-row">
              <img class="skill-img" src="html-5.png" alt="HTML-img">
              <h3 class="skill-name">HTML</h3>
            </div>
    
            <div class="skill-row">
              <img class="skill-img" src="css-3.png" alt="CSS-img">
              <h3 class="skill-name">CSS</h3>
            </div>
    
            <div class="skill-row">
              <img class="skill-img" src="aws.png" alt="aws-img">
              <h3 class="aws-name">AWS Cloud Practitioner</h3>
            </div>
    
            <br>

            <div class="skill-row2">
              <img class="java-img" src="java.png" alt="Java-img">
              <h3 class="java-name">Java</h3>
            </div>
    
            <div class="skill-row2">
              <img class="python-img" src="python.png" alt="Python-img">
              <h3 class="python-name">Python</h3>
            </div>
    
            <div class="skill-row2">
              <img class="skill-img" src="c++.jpg" alt="c++-img">
              <h3 class="c-name">C++</h3>
            </div>
    
          </div>
          </hr>
        </div> 
    </section>

   
    <!-- end of Skills -->


    <!-- end of about -->

<section>
    <div id="contacts">
    <h1> Contact me</h1>
    <div class="form-container" id="contact">
        <form>
            <h3>GET IN TOUCH</h3>
            <input type="text" id="name" placeholder="Your Name" required>
            <input type="email" id="email" placeholder="Email Here" required>
            <textarea id="message" rows="4" placeholder="How can i help you?" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
    <!-- <a class="to-top" href="#">
        <ion-icon name="arrow-up-circle-outline"></ion-icon>
    </a> -->
</section>
                        
                            
    <!-- <footer>
       
        <div class="bottom-container">
            <a class="footer-link" href="https://www.linkedin.com/in/brandy-mhlari/">LinkedIn</a>
            <a class="footer-link" href="https://github.com/BrxndyM">Github</a>
            <br>
            <p class="footer-copyright">Copyright © Brandy Mhlari</p>
          </div>

    </footer>
 </div>
</body> -->

</html>